h3 {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: .5em;
    padding-left: 1em;
    color: #343642;
}

#legend-box {
    margin: 3px;
    padding-left: 1em;
    padding-top: 3px;
    padding-bottom: 3px;
}

.label {
    /*border: 1px solid white;*/
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    margin: 3px;
    font-size: 14px;

}

.aboutForce {
    background-color: green; 
    color: white; 
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}

.label-prez {
    background-color: #092140;
}

.label-title {
    background-color: #F24738;
}

.label-pos {
    background-color: #05A64C;
}

.label-neut {
    background-color: #024959;
}

.label-neg {
    background-color: #BF2A2A;
}

.node1 {
    stroke: white;
    stroke-width: 2;
}

text {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

#about.h2 {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    color: #962D3E;
}

#about.p {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    font-size: 14px;
}