
.navbar-default {
    background-color: #962D3E;
}

.navbar-default .navbar-brand {
    color: #343642;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 30px
}

#navbar-text {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #F2C777;
    color: #F24738;
}

body {
    background-color: #F2C777;
}