<!doctype HTML>
<html>
<head>
	<title>Bigram Sentiment</title>
	<link href='https://color.adobe.com/Gettysburg-color-theme-209416/' rel='stylesheet'>

	<style>	

		.link.prez-speech {
		  fill: none;
		  stroke: #343642;
		  stroke-width: 1.5px;
		}

		.link.speech-bigram {
			fill: none;
			stroke: #348899;
			stroke-dasharray: 0,2 2;
		}

		.node1 {
			stroke: black;
			stroke-width: 3;
		}

	</style>
</head>
	<body>
		<h2>Insert title here.</h2>
		<svg width="900" height="800"></svg>
		<script src='http://d3js.org/d3.v4.min.js'></script>
		
		<script>

		var svg = d3.select("svg"),
		    width = +svg.attr("width"),
		    height = +svg.attr("height");

		// var color = d3.scaleOrdinal(d3.schemeCategory20);

		var simulation = d3.forceSimulation()
		    .force("link", d3.forceLink().id(function(d) { return d.id; }))
		    .force("charge", d3.forceManyBody())
		    .force("center", d3.forceCenter(width / 2, height / 2));

		d3.json("/data.json", function(error, graph) {
			if (error) throw error;

		  	var link = svg.append("g")
			    .attr("class", "links")
			    .selectAll("line")
			    .data(graph.links)
			    .enter().append("line")
			    .attr("class", function(d) { return "link " + d.type; })
			    .style('stroke-width', 1);
		      // .attr("stroke-width", '1px');

		    var color = {
		    	1: '#343642',
		    	2: 'grey',
		    	3: 'green',
		    	4: 'orange', 
		    	5: 'red'}

		    var sizes = {1: 16, 2: 8, 3: 2, 4: 2, 5: 2}

		    var cirColor = {
		    	1: 'white',
		    	2: 'grey',
		    	3: 'green',
		    	4: 'orange', 
		    	5: 'red' }

			var node = svg.append("g")
			    .attr("class", "nodes")
			    .selectAll("circle")
			    .data(graph.nodes)
			    .enter().append("circle")
			    .attr("r", function(d) { return sizes[d.group]; })
			    .attr("fill", function(d) { return cirColor[d.group]; })
			    .attr('class', function(d) { return 'node' + d.group; })
			    .call(d3.drag()
		        	.on("start", dragstarted)
			        .on("drag", dragged)
			        .on("end", dragended));

			node.append("title")
		        .text(function(d) { return d.id; });

		  
			var text = svg.append("g").selectAll("text")
                .data(graph.nodes)
                .enter().append("text")
                .attr("dx", 15)
                .attr("dy", ".31em")
                .text(function(d) { return d.name; })
                .style('fill', function(d) { return color[d.group]; });

		  	simulation
		        .nodes(graph.nodes)
		        .on("tick", ticked);

		  	simulation.force("link")
		        .links(graph.links);

		    function ticked() {
			    link
			        .attr("x1", function(d) { return d.source.x; })
			        .attr("y1", function(d) { return d.source.y; })
			        .attr("x2", function(d) { return d.target.x; })
			        .attr("y2", function(d) { return d.target.y; });

			    node
			        .attr("cx", function(d) { return d.x; })
			        .attr("cy", function(d) { return d.y; });

				text
					.attr("x", function (d) { return d.x; })
	        		.attr("y", function (d) { return d.y; });
		    }

		});

		function dragstarted(d) {
		  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
		  d.fx = d.x;
		  d.fy = d.y;
		}

		function dragged(d) {
		  d.fx = d3.event.x;
		  d.fy = d3.event.y;
		}

		function dragended(d) {
		  if (!d3.event.active) simulation.alphaTarget(0);
		  d.fx = null;
		  d.fy = null;
		}
		</script>

	</body>
</html>