{% extends 'base.html' %}

{% block title %}Prez Phrases{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/force.css">

<h3>Most common repeated phrases</h3>
<div class='container' id='legend-box'>
	<div class='row'>
		<div class='col-xs-12 col-md-12 col-lg-12'></div>
		<ul class='legend'>
			<li><span class='legend prez'></span>President</li>
			<li><span class='legend title'></span>(I) Inaugural or (SoU) State of the Union</li>
			<li><span class='legend pos'></span>Positive phrase</li>
			<li><span class='legend neut'></span>Neutral phrase</li>
			<li><span class='legend neg'></span>Negative phrase</li>
		</ul>
	</div>
</div>

	<div class='container' id='force'>
		<div class='row'>
			<div class='col-xs-12 col-md-12 col-lg-12'></div>
		</div>
	</div>

	<script src="http://d3js.org/d3.v4.min.js"></script>
	<script type= 'text/javascript' src="/static/js/prez-force-layout.js"></script>

	<div class='container' id='about'>
		<div class='row'>
			<div class='col-xs-12 col-md-3 col-md-offset-9 col-lg-4 col-lg-offset-4'></div>
				<h2>About</h2>
				<p>This d3 force layout represents the most common two-word phrases in this sampling of presidential speeches. Each phrase is tied to the speech it is from, which is in turn tied to the President who gave the speech.</p>
				<p>Sentiment was done on the phrases shown here if they appeared more than three times in a single speech. Supervised machine learning was performed on a relatively small data set of politically speeches; using this data as a primary source for any research is not recommended.</p>
		</div>
	</div>

{% endblock %}
