{% extends 'base.html' %}

{% block title %}Prez Phrases{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/timeline.css">

    <h3>Overall Sentiment of Presidential Speeches</h3>
    <div class='container' id='timeline'>
        <div class='row'>
            <div class='col-xs-12 col-md-12 col-lg-12'></div>
        </div>
    </div>    

    <script type='text/javascript'>

        $.ajax({
            url: '/timeline.json', 
            success: function (data) {
                var container = $('#timeline')[0];
                var items = new vis.DataSet(data.items);
                console.log(items);
                var groups = new vis.DataSet(data.groups)
                var options = { zoomable: true,
                                start: new Date(1958, 1, 1),
                                end: new Date(2018, 1 ,1),
                              };    //
                var prezTimeline = new vis.Timeline(container, items, 
                                                    groups, options);
            },
            error: function (err) {
                console.log('Error', err);
                if (err.status === 0) {
                    alert('Failed to load timeline.json. Idek.');
                } else {
                    alert('Fail.');
                }
            }
        });

    </script>

{% endblock %}
