<!DOCTYPE html>
<html>
<head>
    <title>WOW LOOK HERE!</title>     
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css' type='text/css'>
    </head>

<body>

    <div id='timeline'></div>

    <script type='text/javascript'>

        $.ajax({
            url: '/timeline.json', 
            success: function (data) {
                var container = $('#timeline')[0];
                var items = new vis.DataSet(data.items);
                console.log(items);
                var groups = new vis.DataSet(data.groups)
                var options = {};    //
                var prezTimeline = new vis.Timeline(container, items, 
                                                    groups, options);
            },
            error: function (err) {
                console.log('Error', err);
                if (err.status === 0) {
                    alert('Failed to load timeline.json. Idek.');
                } else {
                    alert('Fail.');
                }
            }
        });

    </script>
</body>
</html>